node_modules
node_modules/
/node_modules

.env
env

krishimitra Backend/.env
krishimitra Backend/ai-for-farmers-e16f0-firebase-adminsdk-fbsvc-ee13686d83.json
krishimitra Backend/firebaseConfig.txt

Secret_DOC_AI.docx